{% extends 'indexSesion.html' %}
{% block contenido %}
<!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Instrucciones</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="container text-center">
                        <div class="row justify-content-between">
                            <div class="form-floating mb-3">
                                <textarea type="text" readonly class="form-control" style="height: 5rem;text-align: justify;" placeholder="name@example.com">En esta interfaz se ingresará la respectiva foto a analizar para poder determinar si tiene la plaga de la araña roja o no</textarea>
                                <label for="floatingInput">Instrucción</label>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                
                                <div class="row">
                                    <img src="{{url_for('static',filename = 'images/predecir.jpg')}}" class="d-block" width="100%" height="auto" alt="...">
                                </div>
                                    
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row justify-content-between">
                        <div class="form-floating mb-3">
                            <textarea type="text" readonly class="form-control" style="height: 10rem;text-align: justify;" placeholder="name@example.com">En esta interfaz se podrán ver los diferentes controles que se tienen para esta plaga (preventivos, biológicos y químicos) cada uno con sus respectivas dosis y la cantidad de días en las que será aplicado. Nota: Se debe leer lo descrito para saber cómo se aplicará el control</textarea>
                            <label for="floatingInput">Instrucción</label>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-6">
                            
                            <div class="row">
                                <img src="{{url_for('static',filename = 'images/trat1.jpg')}}" class="d-block" width="100%" height="auto" alt="...">
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row justify-content-between">
                        <div class="form-floating mb-3">
                            <textarea type="text" readonly class="form-control" style="height: 6rem;text-align: justify;" placeholder="name@example.com">En esta parte debajo de cada control se ingresará la fecha en la que comenzará a aplicar el control al cultivo de tomate para así asignarle la fecha en la que volverá a subir una foto del tomate</textarea>
                            <label for="floatingInput">Instrucción</label>
                        </div>
                        <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                            
                                
                                <div class="row">  
                                
                                    <img src="{{url_for('static',filename = 'images/trat2.jpg')}}" class="d-block" width="100%" height="auto" alt="...">
                                </div>
                            </div>
                        <div class="col-sm-3"></div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row justify-content-between">
                        <div class="form-floating mb-3">
                            <textarea type="text" readonly class="form-control" style="height: 5rem;text-align: justify;" placeholder="name@example.com">Para ver los datos del seguimiento que se le ha registrado del tomate y el respectivo control que se va a aplicar</textarea>
                            <label for="floatingInput">Instrucción</label>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">          
                            <div class="row">
                            <img src="{{url_for('static',filename = 'images/models1.jpg')}}" class="d-block" width="100%" height="auto" alt="...">
                            </div>
                            
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row justify-content-between">
                        <div class="form-floating mb-3">
                            <textarea type="text" readonly class="form-control" style="height: 5rem;text-align: justify;" placeholder="name@example.com">En esta parte se podrá ver la próxima fecha del seguimiento para la aplicación del control y los datos del diagnóstico</textarea>
                            <label for="floatingInput">Instrucción</label>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div class="row">

                            
                                <img src="{{url_for('static',filename = 'images/models2.jpg')}}" class="d-block" width="100%" height="auto" alt="...">
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon btn btn-dark" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon btn btn-dark" aria-hidden="true"></span>
                  <span class="visually-hidden">Siguiente</span>
                </button>
              </div>
        </div>
        
      </div>
    </div>
  </div>

    {% with messages=get_flashed_messages() %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

        {% endif%}

    {% endwith %}
<div>
    
    <form action="/predict" method="post" enctype="multipart/form-data" onsubmit="showloading()"> 
       
        <div class="container text-center">
            
            <div class="row">
              <div class="col">
               
              </div>
              <div class="col-10">
                
                <form class="form"> 
                    <span class="form-title">Ingresar Tomate Nuevo</span>
                    <p class="form-paragraph">
                        El archivo debe ser una imagen jpg
                      </p>
                     <label for="file-input" class="drop-container">
                        <span class="drop-title">Arrastra la foto aquí</span>
                        o
                        <input id="foto" name="image" type="file" accept=".jpg, .jpeg" onchange="checkFile()" required class="file-input">
                    </label>
               
                  <br>
                  <input type="hidden" name="correoP" value="{{current_user.id}}">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <br>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <input id="btnP" class="btn btn-primary botones1" type="submit" value="Predecir" disabled>
                    <button type="button" onclick="toggleCamera()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">Predecir en Tiempo Real
      </button>
                    
                  </div>
                </form>
              </div>
              <div class="col">
               
              </div>
            </div>
        </div>


        <!--CAMARA-->
        
        <!--CAMARA-->
       <script>
        function checkFile() {
            var input = document.getElementById('foto');
            var button = document.getElementById('btnP');
            if (input.files.length > 0) {
                button.disabled = false;
            } else {
                button.disabled = true;
            }
}
        </script>
    </form>
<br>
    <div class="container text-center">
        <div class="row">
          <div class="col">
           
          </div>

          <div class="col-md-12">
            <div class="columns">
                <div class="column">
                    <h3 class="is-size-3">Tomate</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID Tomate</th>
                                    <th scope="col">Última fecha de Registro</th>
                                    <th scope="col">Próxima fecha de seguimiento</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Seguimiento</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                                {% for hoja in hojas %}
                                <tr>
                                    <td scope="row">{{hoja[0]}}</td>
                                    <td scope="row">{{hoja[1]}}</td>
                                    {% if hoja[3]==None %}
                                    <td scope="row">Se ha acabado el seguimiento</td>
                                    {% else %}
                                    <td scope="row">{{hoja[3]}}</td>
                                    {% endif %}
                                    
                                    {% if hoja[2]=="S" %}
                                        <td scope="row">En Seguimiento</td>
                                        <td scope="row">
                                            <a class="btn btn-warning botones" style="width: 14rem;" href="/continuarSeguimiento/{{hoja[0]}}">Continuar Seguimiento</a>
                                        </td>
                                        <td></td>
                                    {% elif hoja[2]=="T" %}
                                        <td scope="row">Terminado</td>
                                        <td scope="row">
                                            <a class="btn btn-success botones" style="width: 14rem;" href="/verSeguimiento/{{hoja[0]}}">Ver Seguimiento</a>
                                        </td>
                                        <td scope="row">
                                            <a class="btn btn-danger botones" href="/eliminarHoja/{{hoja[0]}}">Eliminar</a>
                                        </td>
                                    {% elif hoja[2]=="N" %}
                                        <td scope="row">No es un tomate</td>
                                        <td scope="row">
                                            <a class="btn btn-secondary botones" style="width: 14rem;" href="/verSeguimiento/{{hoja[0]}}">Ver datos</a>
                                        </td>
                                        <td scope="row">
                                            <a class="btn btn-danger botones" href="/eliminarHoja/{{hoja[0]}}">Eliminar</a>
                                        </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </thead>                
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    
</div>

<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  
  aria-labelledby="exampleModalLabel1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel1">
          Diagnóstico en tiempo real
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          onclick="toggleCamera()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="row justify-content-between">
            <div class="col">
              <div class="card">
               
                <div class="card-body">
                  <!--
                    <img width="100%" height="100%" id="video-stream" src="" alt="Video Stream" />
                    -->
                    <!--<video width="100%" height="100%" id="video-stream" src="" alt="Video Stream" autoplay></video>
                    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>-->
                    
                   <img width="100%" height="100%" id="video-stream" src="" alt="Video Stream" />

                </div>
              </div>
            </div>
            
          </div>
        </div>

        <br />
        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="toggleCamera()" data-bs-dismiss="modal">
              Cerrar
            </button>
          </div>  
    </div>
    </div>
  </div>

  <!--
<script>
  let videoOn = false;

function toggleCamera() {
  const videoElement = document.getElementById('video-stream');

  if (videoOn) {
    // Detener la reproducción de la cámara
    videoElement.srcObject.getTracks().forEach(track => track.stop());
  } else {
    // Obtener acceso a la cámara del usuario
    videoElement.src = "{{ url_for('video_feed') }}"; 
    navigator.mediaDevices.getUserMedia({ video: true })
      .then(stream => {
        videoElement.srcObject = stream;
      })
      .catch(error => {
        console.error('Error accessing user camera:', error);
      });
  }
  
  videoOn = !videoOn;
}

</script>
  

<script>
  let videoOn=true; // Variable para controlar el estado de la cámara
  var modal = document.getElementById("exampleModal1");
  function toggleCamera() {
    videoOn = false;
    const videoElement = document.getElementById('video-stream');
    if (videoOn) {
      videoElement.src = ''; // Apagar la cámara
    } else {
      videoElement.src = "{{ url_for('video_feed') }}"; // Encender la cámara
    }
    videoOn = !videoOn;
    
  }
</script>
-->
<script>
function toggleCamera() {
  const videoElement = document.getElementById('video-stream');
  const modal = document.getElementById('exampleModal1');

  // Si el modal se está abriendo
  if (modal.style.display === 'none' || modal.style.display === '') {
    videoOn = true;
    videoElement.src = "{{ url_for('video_feed') }}"; // Encender la cámara
  } else { // Si el modal se está cerrando
    videoOn = false;
    videoElement.src = ''; // Apagar la cámara
    
  }
}
</script>
<!--

-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
      var myModal = new bootstrap.Modal(document.getElementById("exampleModal"));
      myModal.show();
    });
  </script>

{% endblock %}

    
    