{% extends 'indexSesion.html' %}
{% block contenido %}
    {% with messages=get_flashed_messages() %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

        {% endif%}

    {% endwith %}
<div>
    <form action="/predict" method="post" enctype="multipart/form-data" onsubmit="showloading()"> 
       
        <div class="container text-center">
            
            <div class="row">
              <div class="col">
               
              </div>
              <div class="col-10">
                
                <form class="form"> 
                    <span class="form-title">Ingresar Tomate Nuevo</span>
                    <p class="form-paragraph">
                        El archivo debe ser una imagen jpg
                      </p>
                     <label for="file-input" class="drop-container">
                        <span class="drop-title">Arrastra la foto aquí</span>
                        o
                        <input id="foto" name="image" type="file" accept=".jpg, .jpeg" onchange="checkFile()" required class="file-input">
                    </label>
               
                  <br>
                  <input type="hidden" name="correoP" value="{{current_user.id}}">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <br>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <input id="btnP" class="btn btn-primary botones1" type="submit" value="Predecir" disabled>
                  </div>
                </form>
              </div>
              <div class="col">
               
              </div>
            </div>
        </div>
       <script>
        function checkFile() {
            var input = document.getElementById('foto');
            var button = document.getElementById('btnP');
            if (input.files.length > 0) {
                button.disabled = false;
            } else {
                button.disabled = true;
            }
}
        </script>
    </form>
<br>
    <div class="container text-center">
        <div class="row">
          <div class="col">
           
          </div>

          <div class="col-md-12">
            <div class="columns">
                <div class="column">
                    <h3 class="is-size-3">Tomate</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID Tomate</th>
                                    <th scope="col">Última Fecha Seguimiento</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Seguimiento</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                                {% for hoja in hojas %}
                                <tr>
                                    <td scope="row">{{hoja[0]}}</td>
                                    <td scope="row">{{hoja[1]}}</td>
                                    {% if hoja[2]=="S" %}
                                        <td scope="row">En Seguimiento</td>
                                        <td scope="row">
                                            <a class="botones" href="/continuarSeguimiento/{{hoja[0]}}">Continuar Seguimiento</a>
                                        </td>
                                        <td scope="row">
                                            <a class="botones" href="/eliminarHoja/{{hoja[0]}}">Eliminar</a>
                                        </td>
                                    {% elif hoja[2]=="T" %}
                                        <td scope="row">Terminado</td>
                                        <td scope="row">
                                            <a class="botones" href="/verSeguimiento/{{hoja[0]}}">Ver Seguimiento</a>
                                        </td>
                                        <td scope="row">
                                            <a class="botones" href="/eliminarHoja/{{hoja[0]}}">Eliminar</a>
                                        </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </thead>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    
</div>
{% endblock %}

    
    