{% extends 'index.html' %}
{% block contenido %}

<div class="blog">

  <style>
  .filaLogin{
    width: 100%;
  }
   .container2 {
     width: 500px;
     position: relative;
     border-radius: 5px;
     overflow: hidden;
     box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
   }
   
   .container2 .slider {
     width: 200%;
     position: relative;
     transition: transform ease-out 0.3s;
     display: flex;
   }
   
   #register_toggle {
     display: none;
   }
   
   .container2 #register_toggle:checked + .slider {
     transform: translateX(-50%);
   }
   
   .form2 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 30px;
     padding: 1.5em 3em;
     width: 50%;
   }
   
   .title2 {
     text-align: center;
     font-weight: 700;
     font-size: 2em;
   }
   
   form .form_control {
     width: 100%;
     position: relative;
     overflow: hidden;
   }
   
   form .form_control .label {
     position: absolute;
     top: 50%;
     left: 10px;
     transition: transform ease 0.2s;
     transform: translate(0%, -50%);
     font-size: 1rem;
     user-select: none;
     pointer-events: none;
     color: #b0b0b0;
   }
   
   form .form_control .input {
     width: 100%;
     background-color: transparent;
     border: none;
     outline: none;
     color: #000000;
     padding: 0.5rem;
     font-size: 1rem;
     border-radius: 5px;
     transition: box-shadow ease 0.2s;
     box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
   }
   
   form .form_control .input:focus,
   form .form_control .input:valid {
     box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
   }
   
   form .form_control .input:focus + .label,
   form .form_control .input:valid + .label {
     transform: translate(-150%, -50%);
   }
   
   form button {
     width: 100%;
     background-color: transparent;
     border: none;
     outline: none;
     color: white;
     background-color: #183661;
     padding: 0.5rem;
     font-size: 1rem;
     border-radius: 5px;
     transition: box-shadow ease 0.1s;
     box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
   }

   form button:hover {
    
    transition: 0.4s ease;
    background: #212121;
    transform: scale(1.03);
   }
   
   form button:active {
     box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
   }
   
   .bottom_text {
     font-size: 1rem;
   }
   
   .bottom_text .swtich {
     font-weight: 700;
     cursor: pointer;
   }

   body{
    overflow-x: hidden;
   }
    
  </style>
<div class="filaLogin row">
  <div class="col-sm-4"></div>
  <div class="container2">
    <input id="register_toggle" type="checkbox">
    <div class="slider">
      <form class="form2" method="POST" action="/logueo">
        {% with messages=get_flashed_messages() %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
          <strong>{{message.data}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

        {% endif%}

        {% endwith %}
        <span class="title2">Login</span>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form_control">
          <input required="" class="input" name="correoL" id="txtCorreoLogin" type="text">
          <label class="label">Correo</label>
        </div>
        <div class="form_control">
          <input required="" class="input" id="txtContraseñaLogin" name="contrasenaL" type="password">
          <label class="label">Contraseña</label>
        </div>
        <button type="submit" id="btnIngresar">Ingresar</button>
  
        <span class="bottom_text">¿No está registrado? <label class="swtich" for="register_toggle">Registrarse</label> </span>
      </form>
      <form class="form2" action="/regisUsu" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <span class="title2">Registrarse</span>
        <div class="form_control">
          <input required="" class="input" name="correo" type="email">
          <label class="label">Correo</label>
        </div>
        <div class="form_control">
          <input required="" class="input" name="nombre" type="text">
          <label class="label">Nombres</label>
        </div>
        <div class="form_control">
          <input required="" class="input" name="apellidos" type="text">
          <label class="label">Apellidos</label>
        </div>
        <div class="form_control">
          <input required="" class="input" name="contrasena" type="password">
          <label class="label">Contraseña</label>
        </div>
        <div class="form_control">
          <input required="" class="input" name="confirmarContrasena" type="password">
          <label class="label">Confirmar Contraseña</label>
        </div>
        <div class="form_control">
          <input required="" class="input" name="direccion" type="text">
          <label class="label">Dirección</label>
        </div>
        <div class="form_control">
          <input required="" class="input" name="nombre_campo" type="text">
          <label class="label">Nombre de Campo de Cultivo</label>
        </div>
        <button type="submit">Registrarme</button>
  
        <span class="bottom_text">¿Ya está registrado? <label class="swtich" for="register_toggle">Ingresar</label> </span>
      </form>
  
      
      </div>
  </div>
</div>

<!--
  <div class="formBox level-login">
    <div class="box boxShaddow"></div>
    <div class="box loginBox">
      <h2>Iniciar Sesión</h2>
      

      <form class="form" method="POST" action="/logueo">
        {% with messages=get_flashed_messages() %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

        {% endif%}

        {% endwith %}

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="f_row">
          <div style="margin-top: 7rem;"></div>
          <input type="text" name="correoL" id="txtCorreoLogin" class="input-field" placeholder="Correo" style="color: black;">
          <u></u>
        </div>
        <div style="margin-top: 3rem;"></div>
        <div class="f_row last" >
          <input type="password" id="txtContraseñaLogin" style="color: black;" name="contrasenaL" class="input-field" placeholder="Contraseña" >
          <u></u>
        </div>

        <div style="margin-top: 3rem;"></div>
        <div class="f_link">
          
          <button type="submit" id="btnIngresar" class="botones" >INGRESAR</button>
        </div>
      </form>
      
     
    </div>
    
    
    

    <div class="box registerBox">
      <span class="reg_bg"></span>
      <h2>Registrar</h2>

      <form class="form" method="POST" action="/regisUsu">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="f_row">
          <input type="email" class="input-field" placeholder="Correo" name="correo" required>
          <u></u> <br>
        </div>
        <div class="f_row">
          <input type="text" class="input-field" placeholder="Nombre" name="nombre" required>
          <u></u> <br>
        </div>
        <div class="f_row">
          <input type="text" class="input-field" placeholder="Apellidos" name="apellidos" required>
          <u></u> <br>
        </div>
        <div class="f_row">
          <input type="password" class="input-field" placeholder="Contraseña" name="contrasena" required>
          <u></u> <br>
        </div>
        <div class="f_row">
          <input type="password" class="input-field" placeholder="Confirmar Contraseña" name="confirmarContrasena" required>
          <u></u> <br>
        </div>
        <div class="f_row">
          <input type="text" class="input-field" placeholder="Direccion" name="direccion" required>
          <u></u> <br>
        </div>
        <div class="f_row">
          <div class="col">
            <input type="text" class="input-field" placeholder="Nombre del campo de cultivo/Direccion" name="nombre_campo" required>
            <u></u>
          </div>
          
          <div class="col">
            <div class="d-grid gap-2 col-4 mx-auto">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" > Abrir Mapa
                
            </div>
          </div>  
          
        </div>
        
        <br>
        <button class="btn-large1" type="submit">Registrarse</button>
      </form>

    </div>
  
    <a href="#" class="regTag icon-add">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 357 357" style="enable-background:new 0 0 357 357;" xml:space="preserve">
        <path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z" />
      </svg>

    </a>
  </div>-->

</div>
 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Elegir tu ubicación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="autocomplete">
        <div id="map"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNhbzXo8IKy1h19rEWphq_d35VmteQcUM&libraries=places" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="mapa.js?version=1.2"></script>
        <script src="{{url_for('static',filename = 'js/mapa.js')}}"></script>
        <script src="localizacion.js"></script>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Mostrar Dirección</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}